<a href="https://colab.research.google.com/github/werowe/Auth0/blob/main/class/26_may_2023_sorting_algorithms_lika_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

'''
algorithm


examples:

rotate graphics on a screen

convert 3 dimensional 3D coordinates (like a animal) to 2D coordinate (like a screen)


sorting


'''

In [ ]:
import random

# a set
numbers=set()

# difference between a list and a set() is a set does not allow duplicate numbers

for i in range(10):
  numbers.add(random.randint(1,10))

print(numbers)

print(len(numbers))

In [ ]:
'''
Is 1 < 3   
if yes then do nothing

but if false then switch them

'''
numbers[0]

In [9]:
import random

# a list
numbers=[]

# difference between a list and a set() is a set does not allow duplicate numbers

for i in range(10):
  numbers.append(random.randint(1,10))

print(numbers)

print(len(numbers))

[9, 5, 2, 8, 7, 6, 3, 3, 1, 6]
10

In [15]:
# look at the numbers in pairs

# like 9 and 5 

# check is 9 < 5


if 9<5:
  1==1
else:
  temporary = 9
  numbers[0] = 5
  numbers[1] = temporary

print(numbers)

[5, 9, 2, 8, 7, 6, 3, 3, 1, 6]

In [14]:
1==1

True

In [ ]:
# is 8 less than 4


# is backwards.  it is not sorted.  to sort is means to do what?

(8,4)

print(numbers[0])
print(numbers[1])

print(numbers[0] < numbers[1])

print(8<4)

print("the unsorted numbers list is ", numbers)

(1,2,3,4,5,6,7)

print("is this sorted?", 2 < 1 < 3 <4 < 5< 6 < 7 )

(8,4)

(4,8)

print(" is this less than the other ", "sofia" < "sophia")

# alphabetic orders


'''
" sorted in alphabetical order"
a,b,c,d,e,f,g,h,i

" this not "
"b","a","d","g","f"


"so"  == "so"

'''

print("whose name is first ", ("sof"  <  "sop"))

In [ ]:
("joaquim"  >  "ilias")

In [ ]:
unsorted=[4,1,5]

if unsorted[0]<unsorted[1]:
  unsorted[1], unsorted[0] =  unsorted[0], unsorted[1]    

print(unsorted)

In [ ]:
print(unsorted[0])
print(unsorted[1])

In [ ]:
unsorted[0]=1
unsorted[1]=4
print(unsorted)

In [17]:
unsorted=["joaquim", "ilias", "sophia", "sofia"]

In [18]:
print("the first name is ", unsorted[0])
print("the second thing is ", unsorted[1])

print("is the first one less than the second one ", unsorted[0]<unsorted[1])

the first name is  joaquim
the second thing is  ilias
is the first one less than the second one  False

False

In [ ]:
unsorted[0],  unsorted[1] = unsorted[1],  unsorted[0]

In [ ]:
print(unsorted)

In [ ]:
unsorted[2],  unsorted[3] = unsorted[3],  unsorted[2]

In [ ]:
print(unsorted)

In [ ]:
# that was hard-coded.  hard-coded means I typed the numbers



numbers=['joaquim', 'ilias', 'sophia', 'sofia','kiril', 'gleb', 'artur']

In [ ]:
# is this sorted?  which is the same as saying is this in alphabetical order

'sofia' < 'artur' < 'c'

In [23]:
numbers=['joaquim', 'ilias', 'sophia', 'sofia','kiril', 'gleb', 'artur']

In [29]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

print(numbers)

['artur', 'gleb', 'ilias', 'joaquim', 'kiril', 'sofia', 'sophia']

In [32]:
# so what we are doing is comparing every element in the list to every other element

for i in range(len(numbers)-1):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

In [ ]:
print(numbers)

In [ ]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

In [ ]:
print(numbers)

In [ ]:
len(numbers)

In [ ]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

In [ ]:
print(numbers)

In [ ]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

In [ ]:
print(numbers)

In [ ]:
for i in range(len(numbers)-1):
    if(numbers[i]>numbers[i+1]):
        numbers[i],numbers[i+1] = numbers[i+1],numbers[i]

In [ ]:
print(numbers)

In [33]:
for j in range(len(numbers)):
    for i in range(len(numbers)-1):
      print(i,j)

0 0
1 0
2 0
3 0
4 0
5 0
0 1
1 1
2 1
3 1
4 1
5 1
0 2
1 2
2 2
3 2
4 2
5 2
0 3
1 3
2 3
3 3
4 3
5 3
0 4
1 4
2 4
3 4
4 4
5 4
0 5
1 5
2 5
3 5
4 5
5 5
0 6
1 6
2 6
3 6
4 6
5 6

In [34]:
'''
Lika see if you can understand this.

We have compare every element in the the list to every other element

That means start at the first element then compare to 2nd, 3rd, 4th, and swap

positions if they are out of order


Then do it gain

5 x 5 operation = 25 comparisons

'''


numbers=['joaquim', 'ilias', 'sophia', 'sofia','kiril', 'gleb', 'artur']

for j in range(len(numbers)):
    for i in range(len(numbers)-1):
        if(numbers[i]>numbers[i+1]):
            numbers[i],numbers[i+1] = numbers[i+1],numbers[i]
            
print(numbers)

['artur', 'gleb', 'ilias', 'joaquim', 'kiril', 'sofia', 'sophia']

In [ ]:
a,b = 3,4

In [ ]:
'''
to sort a list you have to compare every item in the list with every other other item

is we have numbers = (4,3,1)

and compare 4 to 3

and then we switch 4 and 3

(3,4,1)

the 1 is not sorted


3*3 = 9 comparisons




'''


# this is called a nested loop

# we run the outside loop j 5 times

# every time we run j we run the inside loop also times

# so the logic at the bottom runs 5 x 5 = 25 times



for j in range(len(numbers)):
    for i in range(len(numbers)-1):
        print(("comparing i=%s and j=%s") % (i,j))

In [ ]:
'''
[4,1,3,2]

4<1

no

so swap them

is 1<3 no

so swap them

get a pencil and paper and write it down or type it to understand

this

'''

In [7]:
# a list
numbers=[]

# difference between a list and a set() is a set does not allow duplicate numbers

for i in range(100):
  numbers.append(random.randint(1,100))

print("unsorted")
print(numbers)

unsorted
[77, 49, 22, 66, 55, 73, 15, 17, 88, 70, 15, 48, 63, 50, 36, 45, 36, 15, 57, 49, 87, 55, 49, 26, 23, 21, 55, 11, 56, 47, 16, 35, 35, 93, 6, 13, 47, 62, 84, 12, 6, 5, 52, 72, 48, 7, 80, 40, 23, 7, 95, 74, 5, 5, 67, 69, 15, 65, 73, 41, 30, 6, 25, 49, 11, 30, 3, 78, 95, 79, 2, 5, 65, 9, 13, 64, 97, 39, 24, 15, 85, 37, 67, 23, 17, 42, 12, 33, 87, 56, 91, 73, 32, 43, 91, 76, 88, 65, 5, 14]

In [8]:
print("sorted")
for j in range(len(numbers)):
    for i in range(len(numbers)-1):
        if(numbers[i]>numbers[i+1]):
            numbers[i],numbers[i+1] = numbers[i+1],numbers[i]
            
print(numbers)

sorted
[2, 3, 5, 5, 5, 5, 5, 6, 6, 6, 7, 7, 9, 11, 11, 12, 12, 13, 13, 14, 15, 15, 15, 15, 15, 16, 17, 17, 21, 22, 23, 23, 23, 24, 25, 26, 30, 30, 32, 33, 35, 35, 36, 36, 37, 39, 40, 41, 42, 43, 45, 47, 47, 48, 48, 49, 49, 49, 49, 50, 52, 55, 55, 55, 56, 56, 57, 62, 63, 64, 65, 65, 65, 66, 67, 67, 69, 70, 72, 73, 73, 73, 74, 76, 77, 78, 79, 80, 84, 85, 87, 87, 88, 88, 91, 91, 93, 95, 95, 97]